body {
    font-family: Roboto, 'Open Sans', Helvetica, sans-serif;
}

.container-1 {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links, .hero-second,
.top-image {
    font-size: 18px;
    color: #E5E7EB
}

.hero-main {
    font-size: 48px;
    font-weight: 800; /* this is the value for 'extra-bold' */
    color: #F9FAF8
}

.hero-button {
    background-color: #3882f6;
    color:#E5E7EB;
    padding: 8px 32px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    margin-top: 12px;
    width: 120px;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 80px;
}

.hero-content {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.hero-content-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-image {
    display: flex;
    background-color: #606266;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 8px; /* you can delete this once you have an image */
}

/* beginning of section two */

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.img-section-two {
    border: #3882f6 solid 2px;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;;
}

.img-subtext {
    color:#818284;
    text-align: center;
    width: 100px;
}

.img-container-1 {
    display:flex;
    justify-content: space-between;
    gap: 40px;
}

.img-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* beginning of section three */

.container-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 8px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
}

.quote-author {
    font-size: 18px;
    font-weight: 800;
    margin-left: 425px;
}

/* beginning of section four */

.container-4 {
    display: flex;
    padding: 90px 100px;
    justify-content: center;
    align-items: center;
}

.cont-4-internal {
    display: flex;
    gap: 60px;
    background-color: #3882f6;
    padding: 40px 90px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.cont-4-textcontent {
    display: flex;
    flex-direction: column;
    color:#F9FAF8;
}

.cont-4-heading {
    font-size: 20px;
    font-weight: 800;
}

.cont-4-button {
    border-radius: 8px;
    border: 3px solid #F9FAF8;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 32px;
    font-size: 15px;
    width: 130px;
}

/* beginning of section five */

.footer {
    display: flex;
    background-color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

/* need to fix links in header and buttons to make them clickable */